@import '~bulma/bulma.sass';

body {
  background-color: lightblue;
  min-height: 100vh;
}

main {
  padding: 32px;
}

#root main {
  margin-bottom: 180px;
}

.qrcode {

  &--container {
    background-color: #fff;
    display: inline-block;
    padding: 16px;

    > svg {
      max-width: 100%;
      height: auto;
    }
  }
}

ul.savedCodes {
  list-style: none;
  margin-left: 0;
  max-height: 70vh;
  overflow-y: scroll;
}

footer.navbar {
  max-height: 200px;

  .navbar-item.is-fullwidth {
    flex-grow: 1;
    justify-content: center;
  }
}
